<div class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand">ngEvents</a>
    </div>

    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li>
          <a>All Events</a>
        </li>
        <li><a href="">Creat Event</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            Events
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <li>
              <a href="">Angular Connect</a>
            </li>
          </ul>
        </li>
      </ul>
      <div class="navbar-header navbar-right">
        <ul class="nav navbar-nav">
          <li>
            <a>Welcome</a>
          </li>
        </ul>
      </div>
      <form id="searchForm" class="navbar-form navbar-right">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="search sessions" >
        </div>
        <button class="btn btn-default">
          Search
        </button>
      </form>
    </div>
  </div>
</div>
